<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Desde 2019, somos uma empresa especializada na representação de embalagens para os setores de mercados e
                hortifrúti. Atuamos com dedicação e profissionalismo, distribuindo nossos produtos nas regiões de Simões
                Filho e Salvador, sempre comprometidos em oferecer soluções de qualidade para os nossos clientes.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato </h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>" jcrepresentacoesedistribuicao&#64;gmail.com" </li>
                <li><i class="fa-solid fa-phone"></i> (71) 9 8605-2527</li>
                <li><i class="fa-brands fa-whatsapp"></i> (71) 9 8605-2527 (71)9 9374-1144</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>